<head>
<link rel="stylesheet" type="text/css" href="mystyles.css" media="screen" />
</head>
<body>
<h5>Rogue access points detector</h5>

<div style="width: 800px; float:left; height:600px; margin:0px">
    <img src="plotaps.png" alt="" />
</div>
<div style="width: 300px; float:left; height:500px; margin:10px">
<h2>Access Points</h2>
  <ul>
    {% for ap in aps %}
    <li><a href="#" style="color:#90ee90;">{{ap.ssid}} : {{ap.bssid + ap.bssid_suffix}}</a></li>
    {% endfor %}
    <!--
    <li><a href="#" style="color:#90ee90;">Access point 2</a></li>
    <li><a href="#" style="color:#90ee90;">Access point 3</a></li>
    <li><a href="#" style="color:#90ee90;">Access point 4</a></li>
    -->
  </ul>
    <h2>Rogue AP</h2>
<ul>
{% for ap in rogue_aps %}
<li><a href="#" style="color:red;">{{ap.ssid}} : {{ap.bssid + ap.bssid_suffix}}</a></li>
{% endfor %}
</ul>

    <h2>Others</h2>
<ul>
    {% for ap in other_aps %}
    <li><a href="#" style="color:grey">{{ap.ssid}} : {{ap.bssid + ap.bssid_suffix}}</a></li>
    {% endfor %}

  </ul>
</div>

</body>
